apiVersion: v1
kind: Secret
metadata:
  name: member-secret
  namespace: goods-mall
type: Opaque
stringData:
  JWT_SECRET_KEY: ""
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""
  KAKAO_CLIENT_SECRET: ""
  SMTP_USERNAME: ""
  SMTP_PASSWORD: ""
  ACCOUNT_VERIFICATION_SECRET_KEY: ""
